@charset "utf-8";

/*cme-top 开始*/
#cme-top{height:36px;background: #eee;line-height: 36px;}
.blue{color: #1777c6;}
#cme-top .line{float: left; color: #666;margin: 0 10px;}

/*top-logo 开始*/
#cme-top .top-logo {float: left;width:86px;height:36px;margin-right:15px;}
#cme-top .top-logo a{display:block;width:86px;height:36px;}
#cme-top .top-logo img{width:86px;height:36px;}
/*top-logo 结束*/

/*top-left 开始*/
#cme-top .top-left{float: left;}
#cme-top .top-left .back-index{float: left;color: #666;font-size: 12px;}
#cme-top .top-left .back-index .icon{display: inline-block;background: url(../images/icons/back_index.png) no-repeat 0 1px;width: 15px;height: 15px;margin-right: 4px;vertical-align: text-top;}
#cme-top .top-left .phone{float: left;color: #666;font-size: 12px;}
#cme-top .top-left .phone .icon{display: inline-block;background: url(../images/icons/member_icon_header.png) no-repeat 0 1px;width: 15px;height: 15px;margin-right: 4px;vertical-align: text-top;}
#cme-top .top-left .client{float: left;color: #666;font-size: 12px;}
#cme-top .top-left .client .icon{display: inline-block;background: url(../images/icons/member_icon_header.png) no-repeat 0 -20px;width: 15px;height: 15px;margin-right: 4px;vertical-align: text-top;}
#cme-top .top-left .nav-entrance{float: left;color: #666;font-size: 12px;}
#cme-top .top-left .nav-entrance .icon{display: inline-block;background: url(../images/icons/member_icon_header.png) no-repeat 3px -42px;width: 12px;height: 15px;margin-right: 4px;vertical-align: text-top;}
#cme-top .top-left .nav-entrance.curr{background: #fff;margin-left: -13px;padding: 0 12px;border-left: 1px solid #ddd;border-right: 1px solid #ddd;}
/*top-left 结束*/

/*toolbar 开始*/
#cme-top .toolbar{float: right;font-size: 12px;color: #666;position: relative;}
#cme-top .toolbar .username{float: left;}
#cme-top .toolbar .username .icon img{width: 16px;height: 16px;border-radius: 50%;vertical-align: sub;margin-right: 6px;}
#cme-top .toolbar .rank{float: left;}
#cme-top .toolbar .rank .icon{display: inline-block;background: url(../images/icons/member_icon_header.png) no-repeat 3px -42px;width: 12px;height: 15px;margin-right: 4px;vertical-align: text-top;}
#cme-top .toolbar .circle{float: left;}
#cme-top .toolbar .circle .icon{display: inline-block;background: url(../images/icons/member_icon_header.png) no-repeat 3px -42px;width: 12px;height: 15px;margin-right: 4px;vertical-align: text-top;}
#cme-top .toolbar .exit{float: left;}

#cme-top .toolbar .login{float: left;color: #666;font-size: 12px;}
#cme-top .toolbar .login .icon{display: inline-block;background:url(../images/icons/circle_header_login.png) no-repeat;width: 15px;height: 15px;margin-right: 4px;vertical-align: text-top;}
#cme-top .toolbar .register{float: left;color: #666;font-size: 12px;}
#cme-top .toolbar .register .icon{display: inline-block;background:url(../images/icons/circle_header_register.png) no-repeat;width: 15px;height: 15px;margin-right: 4px;vertical-align: text-top;}
/*toolbar 结束*/

/*右侧浮层   开始*/
#cme-float-menu{position:fixed;right:0;top:0;bottom: 0;z-index: 999;}
#cme-float-menu .float-menu{position:absolute;right:0px;width:35px;background: #bcbcbc;height: 100%;}
#cme-float-menu .float-menu .menu-box{position:absolute;top:50%;bottom: 50%;height: 100%;margin-top: -120px;}
#cme-float-menu .float-menu .menu-box .menu{width:35px;height:50px;margin:0 auto;text-align:center;margin-bottom:10px;vertical-align: middle;position: relative;}
#cme-float-menu .float-menu .menu-box .menu img{width:20px;height: 20px;display: block;padding:7px 8px 0;}
#cme-float-menu .float-menu .menu-box .menu a{color: #fff;font-size: 12px;}
#cme-float-menu .float-menu .menu-box .menu .num{position: absolute;background: red;top:2px;padding:0 4px;right: 2px;border-radius:10px;line-height: 14px;}
#cme-float-menu .float-menu .menu-box .menu:hover{background: #1777c6;}
#cme-float-menu .float-menu .menu-box .curr{background: #1777c6;}
#cme-float-menu .float-menu .close{position: absolute;bottom: 150px;left: 7px;}
#cme-float-menu .float-menu .close img{width: 20px;height: auto;}
#cme-float-menu .float-main{position:absolute;right:35px;width:248px;background:url(../images/float_main_bg.png) repeat-y left;height: 100%;}
#cme-float-menu .float-main .main-box{position:absolute;right:0;top:0;bottom:0;width:200px;background:#eee;padding:45px 20px;}
#cme-float-menu .float-main .main-box .main-title{font-size: 18px;margin-bottom: 20px;}
#cme-float-menu .float-main .main-box .main-title .btn-close{padding-top: 2px;}
#cme-float-menu .float-main .main-box .my-base{margin-bottom: 20px;}
#cme-float-menu .float-main .main-box .my-base .pic{margin-right: 10px;}
#cme-float-menu .float-main .main-box .my-base .pic img{width: 54px;height: 54px;}
#cme-float-menu .float-main .main-box .my-base .name{color: #666;padding-top: 8px;width: 136px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
#cme-float-menu .float-main .main-box .unread{background:#e6e6e6 url(../images/icons/float_main_unread.png) no-repeat 10px center;padding-left:30px;border: 1px solid #ddd;height: 33px;line-height: 33px;color: #666;}
#cme-float-menu .float-main .main-box .unread .num{color:#1870b8;margin: 0 5px;font-size: 16px;font-weight: 700;}
#cme-float-menu .float-main .main-box .list{margin:20px 0;}
#cme-float-menu .float-main .main-box .list .row{border-bottom: 1px solid #fdfdfd;padding-bottom: 10px;margin-bottom: 10px;}
#cme-float-menu .float-main .main-box .list .row .info{background: url(../images/icons/float_main_meassages.png) no-repeat 0 4px;text-indent: 20px;font-size: 12px;color:#666;line-height: 20px;}
#cme-float-menu .float-main .main-box .list .row .btn{text-align: right;}
#cme-float-menu .float-main .main-box .list .row .btn a{color: #999;margin-left: 10px;font-size: 12px;}
#cme-float-menu .float-main .main-box .list .row .btn .green{color: #12bca6;}
#cme-float-menu .float-main .main-box .list .rows {padding:6px 0;height: 30px;line-height: 30px;}
#cme-float-menu .float-main .main-box .list .rows .pic {float: left;margin-right: 10px;}
#cme-float-menu .float-main .main-box .list .rows .pic img {width: 29px;height: 29px;border-radius: 50%;border: 1px solid #dfdfdf;}
#cme-float-menu .float-main .main-box .list .rows .info {float: left;font-size: 12px;display: block;max-width: 10em;word-break: keep-all;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
#cme-float-menu .float-main .main-box .list .rows .label{float: left;display: block;margin-left: 10px;color: #049e8a;border: 1px solid #049e8a;padding: 0 3px;border-radius: 2px;font-size: 12px;height: 15px;line-height: 15px;margin-top: 7px;}

#cme-float-menu .float-main .main-box .list .people-group .group-content .rows-new{width:100%;height: 36px;padding:6px 0;overflow:hidden;position: relative;}
#cme-float-menu .float-main .main-box .list .people-group .group-content .rows-new:hover{background: #eee;}
#cme-float-menu .float-main .main-box .list .people-group .group-content .rows-new a:hover .info-all .info-name{color: #1870b8;}
#cme-float-menu .float-main .main-box .list .people-group .group-content .rows-new .photo{float:left;width:36px;height:36px;}
#cme-float-menu .float-main .main-box .list .people-group .group-content .rows-new .photo img{width:36px;height:36px;border-radius:50%;}
#cme-float-menu .float-main .main-box .list .people-group .group-content .rows-new .info-all{float: left;width:154px;margin-left:10px;}
#cme-float-menu .float-main .main-box .list .people-group .group-content .rows-new .info-all .info-name{width:100%;height:36px;line-height:36px;font-size:14px;color:#333;word-break: keep-all;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
#cme-float-menu .float-main .main-box .list .people-group .group-content .rows-new:hover .close{position: absolute;right: 0;top:15px;}
#cme-float-menu .float-main .main-box .list .people-group .group-content .rows-new:hover .close a{display: block;background: url(../images/icons/my_info_close.png) no-repeat 0 0;width: 16px;height: 16px;}
#cme-float-menu .float-main .main-box .list .people-group .group-content .rows-new:hover .close a:hover{display: block;background: url(../images/icons/my_info_close.png) no-repeat -24px 0;width: 16px;height: 16px;}
#cme-float-menu .float-main .main-box .list .people-group .group-name{padding-left:15px;width:185px;height:18px;line-height:18px;font-size: 14px;margin: 10px 0;word-break: keep-all;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
#cme-float-menu .float-main .main-box .list .people-group .group-name span{color: #999; font-size:12px;}
#cme-float-menu .float-main .main-box .list .people-group .group-name.open{background: url(../images/icons/float_icons_line.png) no-repeat left center; text-align: center;}
#cme-float-menu .float-main .main-box .list .people-group .group-name.close{background: url(../images/icons/float_icons_line.png) no-repeat left center; text-align: center;}


#cme-float-menu .float-main .main-box .btn-more{width: 73px;height: 73px;border: 1px solid #ddd;border-radius: 50%;background: #fff;margin:20px auto;}
#cme-float-menu .float-main .main-box .btn-more a{text-align: center;line-height: 73px;font-size: 12px;display: block;}
/*右侧浮层   结束*/

/*个人头衔*/
.person-level{display: inline-block;background: url(../images/icons/user_basic_icongroup1.png) no-repeat 0 0;height: 22px;width: 17px;vertical-align: middle;}
.person-level1{display: inline-block;background: url(../images/icons/user_basic_icongroup1.png) no-repeat 0 -22px;height: 22px;width: 17px;vertical-align: middle;}
.person-level2{display: inline-block;background: url(../images/icons/user_basic_icongroup1.png) no-repeat 0 -44px;height: 22px;width: 17px;vertical-align: middle;}
.person-level3{display: inline-block;background: url(../images/icons/user_basic_icongroup1.png) no-repeat 0 -68px;height: 22px;width: 17px;vertical-align: middle;}
.person-level4{display: inline-block;background: url(../images/icons/user_basic_icongroup1.png) no-repeat 0 -91px;height: 22px;width: 17px;vertical-align: middle;}
.person-level5{display: inline-block;background: url(../images/icons/user_basic_icongroup1.png) no-repeat 0 -114px;height: 22px;width: 17px;vertical-align: middle;}
/*专家头衔*/
.expert-level{display: inline-block;background: url(../images/icons/user_basic_icongroup2.png) no-repeat 0 0;height: 22px;width: 17px;vertical-align: middle;}
.expert-level1{display: inline-block;background: url(../images/icons/user_basic_icongroup2.png) no-repeat 0 -22px;height: 22px;width: 17px;vertical-align: middle;}
.expert-level2{display: inline-block;background: url(../images/icons/user_basic_icongroup2.png) no-repeat 0 -44px;height: 22px;width: 17px;vertical-align: middle;}
.expert-level3{display: inline-block;background: url(../images/icons/user_basic_icongroup2.png) no-repeat 0 -68px;height: 22px;width: 17px;vertical-align: middle;}
.expert-level4{display: inline-block;background: url(../images/icons/user_basic_icongroup2.png) no-repeat 0 -91px;height: 22px;width: 17px;vertical-align: middle;}
.expert-level5{display: inline-block;background: url(../images/icons/user_basic_icongroup2.png) no-repeat 0 -114px;height: 22px;width: 17px;vertical-align: middle;}
/*企业头衔*/
.enterprise-level{display: inline-block;background: url(../images/icons/user_basic_icongroup3.png) no-repeat 0 0;height: 22px;width: 21px;vertical-align: middle;}
.enterprise-level1{display: inline-block;background: url(../images/icons/user_basic_icongroup3.png) no-repeat 0 -22px;height: 22px;width: 21px;vertical-align: middle;}
.enterprise-level2{display: inline-block;background: url(../images/icons/user_basic_icongroup3.png) no-repeat 0 -44px;height: 22px;width: 21px;vertical-align: middle;}
.enterprise-level3{display: inline-block;background: url(../images/icons/user_basic_icongroup3.png) no-repeat 0 -68px;height: 22px;width: 21px;vertical-align: middle;}
.enterprise-level4{display: inline-block;background: url(../images/icons/user_basic_icongroup3.png) no-repeat 0 -91px;height: 22px;width: 21px;vertical-align: middle;}
.enterprise-level5{display: inline-block;background: url(../images/icons/user_basic_icongroup3.png) no-repeat 0 -114px;height: 22px;width: 21px;vertical-align: middle;}
/*机构头衔*/
.institutions-level{display: inline-block;background: url(../images/icons/user_basic_icongroup4.png) no-repeat 0 0;height: 22px;width: 20px;vertical-align: middle;}
.institutions-level1{display: inline-block;background: url(../images/icons/user_basic_icongroup4.png) no-repeat 0 -22px;height: 22px;width: 20px;vertical-align: middle;}
.institutions-level2{display: inline-block;background: url(../images/icons/user_basic_icongroup4.png) no-repeat 0 -44px;height: 22px;width: 20px;vertical-align: middle;}
.institutions-level3{display: inline-block;background: url(../images/icons/user_basic_icongroup4.png) no-repeat 0 -68px;height: 22px;width: 20px;vertical-align: middle;}
.institutions-level4{display: inline-block;background: url(../images/icons/user_basic_icongroup4.png) no-repeat 0 -91px;height: 22px;width: 20px;vertical-align: middle;}
.institutions-level5{display: inline-block;background: url(../images/icons/user_basic_icongroup4.png) no-repeat 0 -114px;height: 22px;width: 20px;vertical-align: middle;}

/*tool-rank-layer 开始*/
#cme-top .toolbar .rank .tool-rank-layer{position: absolute;top: 40px;right: 115px;z-index: 1000; width: 250px;background: #fff;border-top: 2px solid #4197ee;
box-shadow: 0 1px 4px rgba(34,25,25,0.2);
-moz-box-shadow: 0 1px 4px rgba(34,25,25,0.2);
-webkit-box-shadow: 0 1px 4px rgba(34,25,25,0.2);
-webkit-transition: top 1s ease, left 1s ease;
-moz-transition: top 1s ease, left 1s ease;
-o-transition: top 1s ease, left 1s ease;
-ms-transition: top 1s ease, left 1s ease;}
#cme-top .toolbar .rank .tool-rank-layer .arrow{background: url(../images/icons/tool-rank-layer_arrow.png) no-repeat;width: 16px;height: 7px;margin:-9px auto 0;}
#cme-top .toolbar .rank .tool-rank-layer .rows{padding: 10px 15px;border-bottom: 1px solid #eee;height: 48px;line-height: 48px;}
#cme-top .toolbar .rank .tool-rank-layer .rows:hover{background: #4197ee;}
#cme-top .toolbar .rank .tool-rank-layer .rows:hover .infos .name{color: #fff;}
#cme-top .toolbar .rank .tool-rank-layer .rows .pic{float: left;margin-right: 10px;}
#cme-top .toolbar .rank .tool-rank-layer .rows .pic img{width: 47px;height: 47px;border-radius: 50%;border: 1px solid #dfdfdf;}
#cme-top .toolbar .rank .tool-rank-layer .rows .infos{float: left;width: 138px;height: 50px; overflow: hidden;}
#cme-top .toolbar .rank .tool-rank-layer .rows .infos .name{font-size: 14px;color: #666;height: 22px;margin-top: -9px;}
#cme-top .toolbar .rank .tool-rank-layer .rows .infos .icon{display: inline-block;background: url(../images/icons/user_basic_icongroup1.png) no-repeat 0 -22px;width: 22px;height: 22px;vertical-align: middle;margin-left: 5px;}
#cme-top .toolbar .rank .tool-rank-layer .rows .radio{float: right;margin-top: 3px;}
#cme-top .toolbar .rank .tool-rank-layer .rows .radio input{width: 16px;height: 16px;}
#cme-top .toolbar .rank .tool-rank-layer .curr{background: #4197ee;}
#cme-top .toolbar .rank .tool-rank-layer .curr .infos .name{color: #fff;}
/*tool-rank-layer 结束*/

/*tool-circle-layer 开始*/
#cme-top .toolbar .circle .tool-circle-layer{position: absolute;top: 40px;right:0;z-index: 1000; width: 250px;background: #fff;border-top: 2px solid #4197ee;
box-shadow: 0 1px 3px rgba(34,25,25,0.4);
-moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
-webkit-transition: top 1s ease, left 1s ease;
-moz-transition: top 1s ease, left 1s ease;
-o-transition: top 1s ease, left 1s ease;
-ms-transition: top 1s ease, left 1s ease;}
#cme-top .toolbar .circle .tool-circle-layer .arrow{background: url(../images/icons/tool-rank-layer_arrow.png) no-repeat;width: 16px;height: 7px;margin:-9px auto 0;}
#cme-top .toolbar .circle .tool-circle-layer .rows{padding: 6px 15px;height: 30px;line-height: 30px;}
#cme-top .toolbar .circle .tool-circle-layer .rows .pic{float: left;margin-right: 10px;}
#cme-top .toolbar .circle .tool-circle-layer .rows .pic img{width: 29px;height: 29px;border-radius: 50%;border: 1px solid #dfdfdf;}
#cme-top .toolbar .circle .tool-circle-layer .rows .info{float: left;font-size: 12px; display:block;max-width:10em; word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#cme-top .toolbar .circle .tool-circle-layer .rows .label1{float: left;display: block; margin-left: 10px;color: #049e8a;border: 1px solid #049e8a;padding: 0 3px;border-radius: 2px;font-size: 12px; height: 15px;line-height: 15px;margin-top: 7px;}
/*tool-circle-layer 结束*/

/*cme-top 结束*/

/*cme-header 开始*/
#cme-header{height:72px;line-height:72px;border-bottom:3px solid #1776c6;overflow: hidden;}

/*logo 开始*/
#cme-header .logo{margin-top:10px;float: left;}
#cme-header .logo .logo-img{float: left; display: block; background: url(../images/logo.png) no-repeat;width: 182px;height: 51px;}
#cme-header .logo .logo-title{float: left;margin:3px 0 0 18px; position: relative;}
#cme-header .logo .logo-title .logo-beta{position:absolute;top:-25px; left:115px;width:40px;height:15px;}
/*logo 结束*/

/*navbar 开始*/
#cme-header .navbar{float: right;}
#cme-header .navbar a{display: inline-block;color: #666;font-size: 16px;padding:0 12px;height: 30px;line-height: 30px;}
#cme-header .navbar li{float: left;margin-left: 18px;}
#cme-header .navbar .curr a{background: #1870b8;color: #fff;}
#cme-header .navbar .curr .icon{background: url(../images/icons/member_icon_header.png) no-repeat -38px -1px;width: 23px;height: 22px;vertical-align: middle;}
#cme-header .navbar .nav:hover a{background: #f1fbff;}
#cme-header .navbar li .icon{display: inline-block;background: url(../images/icons/member_icon_header.png) no-repeat 3px -61px;width: 23px;height: 22px;vertical-align: middle;}
#cme-header .navbar li .icon-msg{display: inline-block;background: url(../images/icons/member_icon_header.png) no-repeat -22px -27px;width: 29px;height: 22px;vertical-align: middle;}
#cme-header .navbar li .search-icon{display: inline-block;background: url(../images/icons/member_icon_header.png) no-repeat -23px -47px;width: 32px;height:25px;vertical-align: middle;border-left: 1px solid #eee;}
/*navbar 结束*/

/*cme-header 结束*/

/*cme-banner 开始*/
#cme-banner{}
/*cme-banner 结束*/

/*cme-main 开始*/

/*成员管理框架 开始*/
#cme-main .member-box{border: 1px solid #ddd;background: #f7f8fa;position: relative;}

/*当前位置 开始*/
#cme-main .location{height:40px;line-height: 40px;font-size: 12px;color: #666;background: url(../images/icons/location_icon.png) no-repeat 0 14px;padding-left: 20px;}
#cme-main .location div{float:left;height:40px;line-height: 40px;}
#cme-main .location div.crumb-size{max-width:600px; word-break: keep-all;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
/*当前位置 结束*/

/*创建商圈  banner开始*/
#cme-banner .add-business{height:120px;background:url(../images/add_business_step.png) no-repeat center 23px;position: relative;color: #fff;}			
#cme-banner .add-business .step1{position: absolute;top: 30px;left: 171px;}
#cme-banner .add-business .step2{position: absolute;top: 30px;left: 449px;}
#cme-banner .add-business .step3{position: absolute;top: 30px;left: 727px;}			
#cme-banner .add-business .name{width: 100px;text-align:center;line-height:37px;}
#cme-banner .add-business .name .num{width: 37px;height: 37px;display: block;margin: 0 auto;}
#cme-banner .add-business .curr .num{background: url(../images/add_business_step_curr.png) no-repeat center;}
/*创建商圈  banner结束*/

/*menubar 开始*/
#cme-main .member-box .menubar{float: left; border-right: 1px solid #ddd;width: 50px;text-align: center;padding:5px;}
#cme-main .member-box .menubar li{padding: 16px 0 3px 0;}
#cme-main .member-box .menubar .member .icon{background: url(../images/icons/member_icon_menubar.png) no-repeat 0 0;width: 24px;height: 24px;margin: 0 auto 4px;}
#cme-main .member-box .menubar .member.curr .icon{background: url(../images/icons/member_icon_menubar.png) no-repeat -40px 0;}
#cme-main .member-box .menubar .set .icon{background: url(../images/icons/member_icon_menubar.png) no-repeat 0 -38px;width: 24px;height: 24px;margin: 0 auto 4px;}
#cme-main .member-box .menubar .set.curr .icon{background: url(../images/icons/member_icon_menubar.png) no-repeat -40px -38px;}
#cme-main .member-box .menubar .scene .icon{background: url(../images/icons/member_icon_menubar.png) no-repeat 0 -76px;width: 24px;height: 24px;margin: 0 auto 4px;}
#cme-main .member-box .menubar .scene.curr .icon{background: url(../images/icons/member_icon_menubar.png) no-repeat -40px -76px;}
#cme-main .member-box .menubar .subloop .icon{background: url(../images/icons/member_icon_menubar.png) no-repeat 0 -116px;width: 24px;height: 24px;margin: 0 auto 4px;}
#cme-main .member-box .menubar .subloop.curr .icon{background: url(../images/icons/member_icon_menubar.png) no-repeat -40px -116px;}
#cme-main .member-box .menubar .msg{position: relative;}
#cme-main .member-box .menubar .msg .icon{background: url(../images/icons/member_icon_menubar.png) no-repeat 0 -158px;width: 24px;height: 24px;margin: 0 auto 4px;}
#cme-main .member-box .menubar .msg .msg-number{position: absolute;top: 12px;right: 7px; width: 12px;height: 12px;background: #ff0000;border-radius: 50%;color: #fff;font-size: 12px;text-align: center;line-height: 12px;}
#cme-main .member-box .menubar .msg.curr .icon{background: url(../images/icons/member_icon_menubar.png) no-repeat -40px -158px;}
#cme-main .member-box .menubar .curr a{color: #4197ee;}
/*menubar 结束*/

/*main 开始*/
#cme-main .member-box .main{float: left; border-left: 1px solid #ddd;margin-left: -1px;background: #fff;min-height: 400px;}

/*member-title 开始*/
#cme-main .member-box .main .member-title{padding: 0 15px;height: 50px;background: #4c9dfb;line-height: 50px;width: 907px;}
#cme-main .member-box .main .member-title .tit{float: left; font-size: 16px;color: #fff;}
#cme-main .member-box .main .member-title .invite{float: right;}
#cme-main .member-box .main .member-title .invite a{display:block;background:url(../images/icons/member_icon_submenu.png) no-repeat -5px -68px;width: 20px;height: 22px;margin-top: 13px;}
/*member-title 结束*/

/*menu 开始*/
#cme-main .member-box .main .menu{float: left; width: 228px;border-right: 1px solid #ddd;background: #fff;position: absolute;top: 50px;bottom: 0;}
#cme-main .member-box .main .menu li .menu-title{display: block; height: 40px;line-height: 40px;border-bottom: 1px solid #ddd;background: #f2f2f2;padding: 0 15px;}
#cme-main .member-box .main .menu li .name{font-size: 14px;color: #333;display:inline-block;width:153px; word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;vertical-align: middle;}
#cme-main .member-box .main .menu li .arrow{display: inline-block;background: url(../images/icons/member_icon_header.png) no-repeat  -16px -47px;width: 8px;height: 7px;vertical-align: middle;}
#cme-main .member-box .main .menu .curr .arrow{display: inline-block;background: url(../images/icons/member_icon_header.png) no-repeat  0 -47px;width: 8px;height: 7px;vertical-align: middle;}
#cme-main .member-box .main .menu .admin .icon{display: inline-block;background: url(../images/icons/member_icon_submenu.png) no-repeat 0 0;width: 24px;height: 16px;vertical-align: middle;margin-right: 4px;}
#cme-main .member-box .main .menu .all-group .icon{display: inline-block;background: url(../images/icons/member_icon_submenu.png) no-repeat 0 -22px;width: 24px;height: 16px;vertical-align: middle;margin-right: 4px;}
#cme-main .member-box .main .menu .submenu{width: 228px;}
#cme-main .member-box .main .menu .submenu li{padding: 0 15px 0 50px;height: 40px;line-height: 40px;}
#cme-main .member-box .main .menu .submenu li .tit{float: left; font-size: 12px; background: url(../images/icons/member_submenu_li.png) no-repeat 0 14px;vertical-align: middle;padding-left: 13px;display:inline-block;width:9em; word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#cme-main .member-box .main .menu .submenu li.curr{background: #6ebaff url(../images/icons/member_submenu_arrow.png) no-repeat right center;margin-right: -1px;}
#cme-main .member-box .main .menu .submenu li.curr a{color: #fff;background: none;}
#cme-main .member-box .main .menu .submenu li.curr .dissolve{float: right;font-size: 12px;}
#cme-main .member-box .main .menu .add-group{position: absolute;bottom: -1px;left: 0;right: 0;}
#cme-main .member-box .main .menu .add-group .icon{display: inline-block;background: url(../images/icons/member_icon_submenu.png) no-repeat  -7px -45px;width: 24px;height: 16px;vertical-align: middle;margin-right: 4px;}
/*menu 结束*/

/*main 结束*/

/*成员管理框架 结束*/

#cme-main .main .content{width: 100%;}
#cme-main .main .padd{padding: 0 15px;}

/*按钮 开始*/
#cme-main .main .btn-blue a{display: inline-block;height: 28px;line-height: 28px;padding: 0 18px;background: #3f94eb;color: #fff; border: 1px solid #3e92e8;border-radius: 2px;margin-left: 6px;}
#cme-main .main .btn-green a{display: inline-block;height: 28px;line-height: 28px;padding: 0 18px;background: #3ec6b4;color: #fff; border: 1px solid #22c0ac;border-radius: 2px;margin-left: 6px;}
#cme-main .main .btn-gray a{display: inline-block;height: 28px;line-height: 28px;padding: 0 18px;background: #ccc;color: #fff; border: 1px solid #bbb;border-radius: 2px;margin-left: 6px;}
/*按钮 开始*/

/*表单 开始*/
#cme-main .member-box .main .search-box .box{display: inline-block; border: 1px solid #ddd;border-radius: 2px; width: 150px;height: 28px;line-height: 28px;}
#cme-main .member-box .main .search-box .box .input{width: 102px;height: 28px;line-height: 28px;border: 0 none;background: none;}
#cme-main .member-box .main .search-box .box .search-btn img{vertical-align: middle;}

/*main表单   开始*/
.main-form{}
.main-form .form-term{display: block;min-height: 30px;margin-bottom: 15px;}
.main-form .form-term .lable{float:left;width: 140px;height:30px;line-height: 30px;text-align: right;font-size: 14px;color: #333;margin-right: 10px;}
.main-form .form-term .lable .color-red{color:#ff0000;margin-right: 5px;}
.main-form .form-term .control{float: left; min-height:30px;width: 757px;}	
.main-form .form-term .control .form-prompt{font-size: 12px;color: #999;margin-top: 3px;line-height: 16px;}	
.main-form .form-term .control .form-hint{display: block;font-size: 12px;color: #d8ab63;background: #fff8e1;border: 1px solid #ffe082;padding: 3px 15px 3px 12px;}	
.main-form .form-term .control .form-hint .hint{background:url(../images/icons/form_hint_icon.png) no-repeat left 1px;padding-left: 21px;}	
.main-form .form-term .control .charge-box{border: 1px solid #ddd;width: 460px;padding: 15px;}

/*input 开始*/
.main-form .form-term .control .input{width: 353px; height: 30px;line-height: 30px;border: 1px solid #ddd;border-radius: 2px; color: #333;background: #fff;margin-right: 5px;}
.main-form .form-term .control .input58{width: 58px; height: 30px;line-height: 30px;border: 1px solid #ddd;border-radius: 2px; color: #333;background: #fff;margin-right: 5px;}
.main-form .form-term .control .date{background: url(../images/icons/xtsz_date.png) no-repeat right;padding: 0 34px 0 10px;width: 196px;}
::-webkit-input-placeholder { /* WebKit browsers */color:#999;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */color:#999;}
::-moz-placeholder { /* Mozilla Firefox 19+ */color:#999;}
:-ms-input-placeholder { /* Internet Explorer 10+ */color:#999;}
.main-form .form-term .control .textarea{width: 353px;max-width: 353px; height: 80px;line-height: 22px;border: 1px solid #ddd;border-radius: 2px; color: #333;background: #fff;margin-right: 5px;}
/*input 结束*/
			
/*select 开始*/
.main-form .form-term .control .select{float: left; width: 162px;height: 30px;overflow:hidden;line-height: 30px;border: 1px solid #ddd;border-radius:2px;background: url(../images/icons/set_people_invite_icon1.png) no-repeat right center;padding-right: 20px;margin-right: 5px;}
.main-form .form-term .control .select select{width: 250px;background: none;padding: 5px;border: 0 none;outline: none;padding-right: 50px;}
/*select 结束*/	

/*多选   开始*/
.main-form .form-term .control .readonly {background: #f8f8f8;}
.main-form .form-term .upload-btn a {display: inline-block;color: #fff;padding: 0 20px;height: 32px;background: #2cbbea;border-radius: 3px;text-align: center;line-height: 32px;margin-bottom: 10px;}
/*多选   结束*/	

/*checkbox 开始*/
.main-form .form-term .control .form-checkbox{float: left;height: 34px;line-height: 34px;margin-right: 20px;font-size: 14px;color: #333;}
.main-form .form-term .control .form-checkbox .box{margin-right: 5px;vertical-align: middle;}
.main-form .form-term .control .form-checkbox .text{vertical-align: middle;}
/*checkbox 结束*/	

/*头像 开始*/
.main-form .photo .lable{margin-top: 35px;}
.main-form .form-term .control .pic{float: left;}
.main-form .form-term .control .pic img{width: 98px;height: 98px;border: 1px solid #ddd;}
.main-form .form-term .control .pic-change{float: left;margin-left: 20px;}
.main-form .form-term .control .pic-change .btn-change a{display: inline-block;height:30px;color: #4197ee;border: 1px solid #4197ee;line-height: 30px;padding: 0 20px;border-radius: 2px;margin:20px 0 17px 0;}
.main-form .form-term .control .pic-change .info{font-size: 12px;color: #999;}
/*头像 结束*/	
.main-form .form-term .control .blue-btn a{display: inline-block;font-size: 18px;color: #fff; height: 40px;line-height: 40px;width: 275px;background: #4c9dfb;border-radius: 2px;text-align: center;}
/*输入错误提示 开始*/
.form-msg{color: #ff0000;background: url(../images/icons/user_personal_name.png) no-repeat left 1px;padding-left: 20px;font-size: 12px;margin: 5px 0;}
/*输入错误提示 开始*/

/*main表单 结束*/

/*表单 结束*/

/*table 开始*/
#cme-main .main table{width: 100%;}
#cme-main .main table tr{border-bottom: 1px solid #ddd;}
#cme-main .main table td{height: 40px;line-height: 20px;text-align: center;font-size: 12px;color: #666;}
#cme-main .main table .table-tit td{background: #ebebeb;font-size: 14px;color: #333;}
#cme-main .main table .left{text-align: left;}
#cme-main .main table .name{color: #333;position: relative;}
#cme-main .main table .name .info{vertical-align: middle;display:inline-block;width:22em; word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#cme-main .main table .name .phone img{vertical-align: middle;margin-right: 9px;width: 25px;height: 25px;border: 1px solid #ddd;border-radius: 50%;}
#cme-main .main table .date{color: #999;}
/*table 结束*/

/*pages 开始*/
.pages{margin-top:20px;text-align: center;overflow: hidden;zoom: 1;}			
.pages .curr{font-size: 14px;display: inline-block;height:22px;line-height: 22px;border: 1px solid #4c9dfb;color: #fff;background-color: #4c9dfb;margin-left: 10px;border-radius: 4px;padding: 0 10px;}
.pages a {font-size: 14px;text-decoration: none;display: inline-block;height: 22px;line-height: 22px;border: 1px solid #ddd;color: #666;background-color: #fff;margin-left: 4px;cursor: pointer;border-radius: 4px;transition: all .2s;padding: 0 10px;}
.pages .more{display: inline-block;height: 30px;line-height:30px;color: #666;margin-left: 5px;padding: 0 5px;}
/*pages 结束*/

/*明信片 开始*/
.postcard-box{position: absolute;top: 7px;left: 90px;z-index: 1; background: #ffe6c1;width: 300px;
box-shadow: 0 1px 4px rgba(34,25,25,0.2);
-moz-box-shadow: 0 1px 4px rgba(34,25,25,0.2);
-webkit-box-shadow: 0 1px 4px rgba(34,25,25,0.2);
-webkit-transition: top 1s ease, left 1s ease;
-moz-transition: top 1s ease, left 1s ease;
-o-transition: top 1s ease, left 1s ease;
-ms-transition: top 1s ease, left 1s ease;}
.postcard-box.bgcolor-red{background: #ffc1ca;}
.postcard-box.bgcolor-blue{background: #7dc2ff;}
.postcard-box.bgcolor-green{background: #83ded5;}
.postcard-box .bg-top{background: url(../images/postcard_bg_top.png) no-repeat;width: 250px;height: 30px;margin:10px 0 0 40px;}
.postcard-box .bg-bottom{background: url(../images/postcard_bg_bottom.png) no-repeat;width: 280px;height: 29px;margin: 0 0 10px 10px;}
.postcard-box .postcard{width: 230px;margin: 0 auto;}
.postcard-box .postcard td.photo img{display: block; width: 70px;height: 70px;border-radius: 50%;background: #eee;}
.postcard-box .postcard .tit .name{font-size: 16px;color: #333;font-weight: bold;}
.postcard-box .postcard .tit .rank{display: inline-block;background: url(../images/icons/user_basic_icongroup1.png) no-repeat 0 -22px;width: 22px;height: 23px;vertical-align: middle;margin-left: 5px;}
.postcard-box .postcard .address{font-size: 14px;color: #484848;padding-left: 5px;margin-bottom: 3px;}
.postcard-box .postcard .address .icon{display: inline-block; background: url(../images/icons/postcard_icon.png) no-repeat -1px 2px;width: 11px;height: 18px;padding-left: 3px;vertical-align: middle;}
.postcard-box .postcard .phone{font-size: 14px;color: #484848;padding-left: 5px;}
.postcard-box .postcard .phone .icon{display: inline-block; background: url(../images/icons/postcard_icon.png) no-repeat 0 -20px;width: 11px;height: 18px;padding-left: 3px;vertical-align: middle;}
/*商圈明信片 开始*/
.postcard-circle-box{position: absolute;top: 7px;left: 140px;z-index: 1; background: #fff;width: 346px;height:248px;box-shadow: 0 1px 4px rgba(34,25,25,0.2);-moz-box-shadow: 0 1px 4px rgba(34,25,25,0.2);-webkit-box-shadow: 0 1px 4px rgba(34,25,25,0.2);-webkit-transition: top 1s ease, left 1s ease;-moz-transition: top 1s ease, left 1s ease;-o-transition: top 1s ease, left 1s ease;-ms-transition: top 1s ease, left 1s ease;}
.postcard-circle-box .bg-top{background: url(../images/postcard_circle_bg_new.png) no-repeat top center;height: 176px;width: 346px;text-align: center;}
.postcard-circle-box .bg-top .circle-logo{width: 70px;height: 70px;position: relative;margin: 0 auto;}
.postcard-circle-box .bg-top .circle-logo .circle{width: 70px;height: 70px;}
.postcard-circle-box .bg-top .circle-logo .circle img{width: 70px;height: 70px;}
.postcard-circle-box .bg-top .info-rank{position: absolute;top: -3px;left: -3px;}
.postcard-circle-box .bg-top .info-rank img{width:46px;height:46px;}
.postcard-circle-box .bg-top .circle-tit{width:230px;height:22px;line-height:22px;text-align:center;font-size: 14px;color: #333;font-weight: bold;margin: 10px auto 5px auto;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.postcard-circle-box .bg-top .circle-master{width:230px;height:22px;line-height:22px;text-align:center;font-size: 12px;color: #333;margin:0 auto;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.postcard-circle-box .bg-top .circle-master .rank-icon{display: inline-block;background: url(../images/icons/user_basic_icongroup1.png) no-repeat 0 -22px;width: 22px;height: 22px;vertical-align: middle;margin-left: 5px;}
.postcard-circle-box .postcard-info{width: 320px;text-align: center;margin: 10px auto 0 auto;}
.postcard-circle-box .postcard-info .info-top{width:320px;height:22px;line-height:22px;font-size: 12px;color: #999;margin-bottom: 5px;overflow: hidden;}
.postcard-circle-box .postcard-info .info-top .blue{font-size:14px;vertical-align: middle;}
.postcard-circle-box .postcard-info .info-top .line{margin: 0 5px;}
.postcard-circle-box .postcard-info .info-top img{vertical-align: middle;margin-right: 5px;}
.postcard-circle-box .postcard-info .info-top .address{vertical-align: middle;}
.postcard-circle-box .postcard-info .label{width:320px;height:22px;line-height:22px;color: #999;vertical-align: middle;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.postcard-circle-box .postcard-info .label img{vertical-align: middle;margin-right: 5px;}
/*商圈明信片 开始*/
/*明信片 结束*/


/*成员管理明信片 开始*/
#cme-main .main .postcard-section{width:290px;height: 140px;position: absolute;top: 7px;left: 90px;z-index: 1;}
#cme-main .main .postcard-area{width:288px;height: 138px;position: absolute;background: #fff;box-shadow: 0 1px 4px rgba(34,25,25,0.2);-moz-box-shadow: 0 1px 4px rgba(34,25,25,0.2);-webkit-box-shadow: 0 1px 4px rgba(34,25,25,0.2);-webkit-transition: top 1s ease, left 1s ease; -moz-transition: top 1s ease, left 1s ease;-o-transition: top 1s ease, left 1s ease;-ms-transition: top 1s ease, left 1s ease;}  
#cme-main .main .postcard-area-orange{border:1px solid #ffd282;}
#cme-main .main .postcard-area-pink{border:1px solid #fbc9d1;}
#cme-main .main .postcard-area-blue{border:1px solid #aed9ff;}
#cme-main .main .postcard-area-green{border:1px solid #b0e0db;}
#cme-main .main .postcard-area .postcard-info{width:230px;height:auto;margin:10px auto 0 auto;overflow: hidden;border:0;}
#cme-main .main .postcard-area .postcard-info tr{border:0;}
#cme-main .main .postcard-area .postcard-info tr td{height:auto;line-height:20px;padding:0;margin:0;border:0;text-align:left;}
#cme-main .main .postcard-area .postcard-info tr td.postcard-pic{width:70px;height:auto;}
#cme-main .main .postcard-area .postcard-info tr td.postcard-pic img{width:70px;height:70px;border-radius: 50%;border:0;overflow: hidden;}
#cme-main .main .postcard-area .postcard-info tr td.postcard-text{width:150px;height:auto;padding:0 0 0 10px;color:#666;font-size:12px;}
#cme-main .main .postcard-area .postcard-info tr td.postcard-text .postcard-address .icon {display: inline-block;background: url(../images/icons/postcard_icon.png) no-repeat -1px 2px;width: 11px;height: 18px;padding-left: 3px;vertical-align: middle;}
#cme-main .main .postcard-area .postcard-info tr td.postcard-text .postcard-phone .icon {display: inline-block;background: url(../images/icons/postcard_icon.png) no-repeat 0 -20px;width: 11px;height: 18px;padding-left: 3px;vertical-align: middle;}
#cme-main .main .postcard-area .postcard-info tr td.postcard-text .postcard-tit{font-size:14px;font-weight:700;color:#333;}
#cme-main .main .postcard-area .postcard-bottom-box{position:absolute;bottom:0;width:100%;height:26px;}
#cme-main .main .postcard-area .postcard-bottom-orange{background-color:#ffd282;}
#cme-main .main .postcard-area .postcard-bottom-pink{background-color:#fbc9d1;}
#cme-main .main .postcard-area .postcard-bottom-blue{background-color:#aed9ff;}
#cme-main .main .postcard-area .postcard-bottom-green{background-color:#b0e0db;}
#cme-main .main .postcard-section .lable-postcard{position:absolute;bottom:14px;left:17px;}
#cme-main .main .postcard-section .lable-postcard ul li{float:left;width:50px;height:24px;margin:0 7px;}
#cme-main .main .postcard-section .lable-postcard ul li a{display:block;width:48px;height:22px;line-height:22px;text-align: center;font-size:12px;background-color:#fff;overflow: hidden;}
#cme-main .main .postcard-section .lable-postcard ul li.people a{border:1px solid #ffa506;color:#ffa506;}
#cme-main .main .postcard-section .lable-postcard ul li.expert a{border:1px solid #f794a3;color:#f794a3;}
#cme-main .main .postcard-section .lable-postcard ul li.company a{border:1px solid #5eb3ff;color:#5eb3ff;}
#cme-main .main .postcard-section .lable-postcard ul li.institution a{border:1px solid #62c1b8;color:#62c1b8;}	
#cme-main .main .postcard-section .lable-postcard ul li.people a.current{background-color:#ffa506;color:#fff;}
#cme-main .main .postcard-section .lable-postcard ul li.expert a.current{background-color:#f794a3;color:#fff;}
#cme-main .main .postcard-section .lable-postcard ul li.company a.current{background-color:#5eb3ff;color:#fff;}
#cme-main .main .postcard-section .lable-postcard ul li.institution a.current{background-color:#62c1b8;color:#fff;}
/*成员管理明信片 结束*/

/*tab切换 开始*/
#cme-main .main .content .tab-box{margin: 15px 0;padding-bottom: 15px;}
#cme-main .main .content .tab-box a{display: inline-block;height: 28px;line-height: 28px;padding: 0 18px;background: #ccc;color: #fff; border: 1px solid #bbb;border-radius: 2px;margin-right: 6px;}			
#cme-main .main .content .tab-box .curr a{display: inline-block;height: 28px;line-height: 28px;padding: 0 18px;background: #3f94eb;color: #fff; border: 1px solid #3e92e8;border-radius: 2px;margin-right: 6px;}			
/*tab切换 结束*/

/*cme-main 结束*/

/*cme-footer 开始*/
#cme-footer{background: #1777c6;color: #fff;height: 100px;line-height: 100px;text-align: center;margin-top: 20px;}
/*cme-footer 结束*/
